<br>
<br>
<br>
<%= link_to t('.Hide Roles', :default => t("helpers.links.new")),
            list_hide_roles_path,
            :class => 'btn btn-primary', remote: true %>

<br>

<div id = "show_list_of_hide_roles">
  
</div>            
